@media only screen and (min-width: 768px) {
	footer {
		position: relative;
		bottom: 0;
		width: 100%;
		height: 100%;
		figure {
			position: absolute;
			background-image: url(../desktop/bg-pattern-dots.svg);
			bottom: 0;
			top: 152px;
			display: block;
			width: 232px;
			height: 104px;
			background-repeat: no-repeat;
			margin-left: 30px;

			@media only screen and (min-width: 1440px) {
				right: 0;
				top: -52px;
			}
		}
	}
}
